body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}

.header-left {
    height: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.header-left h1 {
    color: #fbd214;
    font-size: 40px;
    margin: 0 0 0 12px;
    font-weight: 700;
}

.hamburger-button {
    display: none;
}

.hamburger-button-label {
    width: 100%;
    position: absolute;
    right: 12px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: flex-end; */
}
/* .hamburger-button-label {
    padding: 20px;
} */

.hamburger-button-label span,
.hamburger-button-label span::before,
.hamburger-button-label span::after {
    display: block;
    background-color: #feb633;
    height: 3px;
    width: 2em;
    /* border-radius: 2px; */
    position: relative;
}

.hamburger-button-label span::before,
.hamburger-button-label span::after {
    content: "";
    position: relative;
}

.hamburger-button-label span::before {
    bottom: 8px;
}

.hamburger-button-label span::after {
    top: 5px;
}

.hamburger-button:checked ~ nav {
    /* display: block; */
    transform: scale(1,1);
}

nav {
    position: absolute;
    width: 100%;
    text-align: left;
    top: 100%;
    left: 0;
    z-index: 95;
    background-color: white;
    /* display: none; */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 3px 0 15px 0;
    list-style: none;
    background-color: white;
}

nav li {
    margin-top: 0.75em;
    margin-left: 2em;
}

nav a {
    color: black;
    text-decoration: none;
    border-bottom: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.hamburger-button:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
    color: #feb633;
    border-bottom: 2px solid #feb633;
}



/* ======= MAIN SECTION ======= */
/* INTRODUCTION */

main {
    margin: 0 12px 0 12px;
}

.home {
    margin: 13em 0 0 0;
    width: 100%;
}

.home h1 {
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333333;
}

.title2 {
    margin-bottom: 45px;
}

.home h2 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0;
    color: #66686b;
}

.home a {
    font-size: 19px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    background-color: #feb633;
    padding: 18px 70px;
    border-radius: 3px;
}

.home a:active {
    color: #feb633;
    background-color: white;
    border: 2px solid #feb633;
}

.image1 {
    width: 100%;
    display:flex;
    align-items: center;
    /* border: 1px solid red; */
}

.image1 img {
    box-sizing: border-box;
    max-width: 100%;
    height:auto;
    margin-top: 80px;

    /* border: 1px solid black */
}


/* --------ABOUT ME-------- */

.about-me-title {
    font-size: 22px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-image: url(https://pbs.twimg.com/media/EyX3e21UYAMOfOM?format=png&name=orig);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 375px;
    text-decoration: underline #feb633;
    /* border-bottom: 2px solid #feb633; */
    /* background-size: 500px 500px; */
    /* background: url(https://pbs.twimg.com/media/EyT8OccUUAI42_d?format=png&name=orig);
    background-size: 100%; */
    /* border-bottom: 5px solid #feb633; */
}

.about-me-buttons {
    /* border: 3px solid black; */
    margin-top: 50px;
}

.about-me-buttons a{
    padding: 10px 25px;
    font-size: 13px;
    border-radius: 2px;
}

.viewEx {
    background-color: #feb633;
    border: 2px solid #feb633;
    color: white;
}

.viewEx:hover {
    background-color: white;
    border: 2px solid #feb633;
    color: #feb633;
}

.dwCV {
    border: 2px solid #feb633;
    color: #feb633;
    margin-left: 5px;
}

.dwCV:hover {
    background-color: #feb633;
    border: 2px solid #feb633;
    color: white;
}

.about-me p {
    font-size: 15px;
    color: #333333;
}

.bg-about-me {
    z-index: 1;

}


/* --------WORK EXPERIENCE-------- */

.experience h3 {
    margin-top: 3em;
    font-size: 22px;
    display: flex;
    justify-content: center;
    /* border-bottom: 2px solid #feb633; */
}

.experience p {
    font-size: 15px;
    color: #333333;
}

.we {
    margin-top: 30px;
    border: 1px solid #c7cad1;
}

.we:hover {
    background-color: #feb633;
    color: #333333;
    transition: 0.3s;
}

.we:hover .p-content {
    color:#333333;
}

.we p {
    margin: 0 20px;
    font-size: 12.5px;
    /* color: #959aac; */
}

.we .p-position {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
}

.we .p-company {
    border-left: 2px solid black;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 35px;
}

.we .p-timeline {
    font-size: 15px;
    font-weight: 300;
}

.we .p-content {
    padding: 20px 0 30px 0;
    font-size: 14px;
    font-weight: 400;
    color: #84878f;
}


/* --------ORGANIZATIONAL EXPERIENCE-------- */

.contact-me h3 {
    margin-top: 3em;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.contact-me h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}

.contact-me .p-contact-location {
    font-size: 15px;
    color: #333333;
}

.contact-me h5 {
    font-size: 16.5px;
    font-weight: 400;
}

.contact-form {
    /* border: 3px solid black; */
    margin: 30px 0 0 0;
}

.contact-form input {
    width: 100%;
    border: none;
    box-shadow: 0 2px 2px #e2e2e2 , 0 -0.5px 1px #e2e2e2;
    padding: 1em 0 1em 0;
}

.contact-form textarea {
    width: 100%;
    margin: 0 0 40px 0;
    border: none;
    box-shadow: 0 2px 2px #e2e2e2 , 0 -0.5px 1px #e2e2e2;
    padding: 12px 0 15em 0;
}

.btn-send {
    background-color: #feb633;
    border-radius: 2px;
    padding: 20px 35px;
    font-size: 14px;
    font-weight: 500;
    color:white;
    /* display:inline-block; */
    /* opacity:0.8; */
  }

.form {
    /* border: 3px solid black; */
    margin: 20px 0 10px 0;
    font-size: 14px;
    
}


footer h1 {
    color: #fbd214;
    font-size: 40px;
    padding: 100px 0 30px 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

footer p {
    margin-left: 5%;
    width: 90%;
    border-top: 0.1px solid #dad7d7;
    font-size: 10px;
    padding-top: 10px;
    display: block;
    text-align: center;
}